@import '../../../static/font/iconfont.css';

#reactroot{
    height:100%;
}
.lpdetail{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header{
        position: relative;
        height:50px;
       >span{
           position: absolute;
           left:5%;
           top:20%;
           font-size:24px;
       }
       strong{
           position: absolute;
           right:7%;
           top:30%;
           color:#808080;
           font-weight: normal;
       }
    }
    .lp_content{
        flex:1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        ul{
            width:100%;
            height:45px;
            display: flex;
            justify-content: space-around;
            text-align: center;
            li{
                width:30%;
                line-height: 45px;
                height: 45px;
                font-size: 14px;
            }
            
        }
        .lp_c_detail{
            flex: 1;
            background-color: #EAEDF2;
        }
    }
    
}
.active{
    border-bottom: 1px solid #bf2a47;
    color:#bf2a47;
   
}
