/*----------index*/
body,html{
	height: 100%;
}

#app,#reactroot{
	height: 100%;
}

.container-ts{
	height: 100%;
	display: flex;
	flex-direction: column;
}
/*-----------header*/
.container-ts>header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 44px;
	background: #DB5A70;
	z-index: 1;
}
.container-ts>header>ul{
	display: flex;
	justify-content: space-between;
	height: 100%;
	line-height: 44px;
	text-align: center;
}
.container-ts>header span:nth-child(1),
.container-ts>header span:nth-child(4){
	width: 44px;
	color:#ccc;
	font-size: 18px;
}

.container-ts>header span:nth-child(1){
	font-weight: bold;
	color:#fff;
}
.container-ts>header span:nth-child(2){
	min-width:44px;
	max-width:108px;
	padding:0 5px;
	font-size:10px;
	color:#fff;
}
.container-ts>header span:nth-child(2)>.icon-dizhi{
	font-size:12px;
}

.container-ts>header span:nth-child(3){
	display:flex;
	// 这里的width，是基于18px 的rem
	flex:1;
	height: 44px;
	margin-top: 10px;
	line-height: 26px;
	font-size: 8px;
}
.container-ts>header span:nth-child(3)>input{
	flex:1;
	border:1px solid #DB5A70;
	border-radius:4px;
	font-size:10px;
	color:#999;
	padding-left:5px;
	height:26px;
}
.container-ts>header span:nth-child(3)>input::-webkit-input-placeholder{
    color: #999;
    font-size: 8px;
    line-height: 24px;
}

/*----------content*/
.container-ts .content-ts{
	margin-top:44px;
	flex:1;
	display:flex;
	flex-wrap: wrap;
	background: #ffe;
	overflow-x:hidden;
	overflow-y:auto;
}
.container-ts .content-ts .banner-ts{
	margin-bottom: 15px;
	margin-top:-8px;
	/*图片宽度只有640，所以需要给盒子设宽度*/
	width:100%;
}

.container-ts .content-ts .banner-ts img{
	width: 100%;
}

.container-ts .content-ts .nav-ts{
	/*图片宽度只有640，所以需要给盒子设宽度*/
	width:768px;
}
.container-ts .content-ts .nav-ts ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 1%;
	margin-bottom: 10px;
}
.container-ts .content-ts .nav-ts ul li{
	width: 20%;
	padding:0 2%;
	text-align:center;
}
.container-ts .content-ts .nav-ts ul li img{
	width: 90%;
}
.container-ts .content-ts .nav-ts ul li span{
	color:#666;
	text-align:center;
	overflow: hidden;
	white-space:nowrap;
    text-overflow: ellipsis;
}
.container-ts .content-ts .nav-ts .nav-big{
	padding-left:0;
}
.container-ts .content-ts .nav-ts .nav-big li{
	width: 100%;
	padding:5px 0 0 0;
}
.container-ts .content-ts .nav-ts .nav-big li img{
	width: 100%;
}


.container-ts .content-ts .goodsList-ts ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 2%;
}
.container-ts .content-ts .goodsList-ts ul li{
	position: relative;
	width: 48.5%;
	padding:0 0 20px 2%;
}
.container-ts .content-ts .goodsList-ts ul li>p{
	height:26px;
	padding:0 5%;
}
.container-ts .content-ts .goodsList-ts ul li>p>a>span{
	display: inline-block;
	width: 100%;
	height: 24px;
	line-height:2;
	overflow: hidden;
	white-space:nowrap;
    text-overflow: ellipsis;
    color:#666;
}
.container-ts .content-ts .goodsList-ts ul li>p>a>span>b{
	font-weight:normal;
}
.container-ts .content-ts .goodsList-ts ul li>p>a>span>b>i{
	color:#666;
}

.container-ts .content-ts .goodsList-ts ul li .price-ts{
	color: #DB5A70;
	font-weight: normal;
	display: inline-block;
	width: 100%;
	height: 36px;
	line-height:1.2;
}
.container-ts .content-ts .goodsList-ts ul li>div>a>img{
	width: 100%;
}
.container-ts .content-ts .goodsList-ts ul li>p{
	color:#666;
}
.container-ts .content-ts .goodsList-ts ul li>p .icon-gouwudai{
	position: absolute;
	right: 10px;
	bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	color:#AED648;
}

/*----------特价盒子*/
.tips-shuoming{
	position: absolute;
	top:5px;
	left: 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50% 0 50% 50%;
	background-color: #ACD544;
	color:#fff;
	text-align: center;
}




/*----------footnav*/
.container-ts .content-ts .footnav-ts{
	height:40px;
	width: 100%;
}
.container-ts .content-ts .footnav-ts::after,
.container-ts .content-ts .footnav-ts::before{
	display: block;
	height: 10px;
	width: 100%;
	content: "";
}
.container-ts .content-ts .footnav-ts::after{
	margin-bottom:44px;
}
.container-ts .content-ts .footnav-ts ul{
	display: flex;
	height: 40px;
	text-align: center;
	padding-top:12px;
	border-top:1px solid #F7F7F7;
	border-bottom:1px solid #F7F7F7;
}

.container-ts .content-ts .footnav-ts ul li{
	flex:1;
}
.container-ts .content-ts .footnav-ts ul li a{
	display: block;
	height: 14px;
	border-right: 1px solid #ccc;
	color:#666;
}
.container-ts .content-ts .footnav-ts ul li:nth-child(2) a{
	color:#DB5A70;
}
.container-ts .content-ts .footnav-ts ul li:last-child a{
	border-right: 0;
}

/*------------返回顶部*/
.container-ts .content-ts .icon-dingbu{
	display:none;
	position:fixed;
	right:2%;
	bottom:60px;
	width:30px;
	height:30px;
	border-radius:50%;
	color: #999;
    opacity: .6;
    font-size: 30px;
}



/*-----------footer*/
.container-ts>footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:44px;
	background: #eee;
	z-index: 1;
}
.container-ts>footer>ul{
	height:44px;
	display: flex;
	text-align: center;
	color: #666;
	border-top:1px solid #ddd;
}

.container-ts>footer>ul li{
	height:44px;
	flex:1;
	display:flex;
	flex-direction:column;
}
.container-ts>footer>ul li i,
.container-ts>footer>ul li span{
	display: block;
}
.container-ts>footer>ul li i.iconfont{
	height:22px;
}
.container-ts>footer>ul li span{
	flex:2;
}
.container-ts>footer>ul li i{
	font-size: 20px;
	flex:3;
}