@import "../../static/styles/common";

body,html{
    height:100%;
}
#app{
    height: 100%;
}
.container{
    height: 100%;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #eee;
    .box-top {
        width: 100%;
        height: 1.40625rem;
        border-bottom: 1px solid #ccc;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 999;
        .box-ti-top {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            position: relative;
            .iconfont {
                position: absolute;
                font-size: 20px;
                line-height: 1.40625rem;
                text-align: center;
                width: 0.9375rem;
                height: 1.40625rem;
                color: #333;
                transition: all .5s;
            }
            .iconfont:hover {
                color: #bd2c00;
                font-size: 0.625rem;
            }
            .icon-fanhui {
                left: 0;
                top: 0;
                text-align: right;

            }
            .icon-zhuye {
                right: 0;
                top: 0;
                text-align: left;

            }
            .title {
                box-sizing: border-box;
                font-size: 0.53125rem;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 1.40625rem;
            }

        }
    }
    .cart-main{
        flex: 3;
        margin-top: 1.40625rem;
        margin-bottom: 1.40625rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .cart-address{
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            margin-bottom : 0.3125rem;
            .address-left{
                box-sizing: border-box;
                width: 100%;
                padding-right: 16%;
                position: relative;
                .menmsg{
                    box-sizing: border-box;
                    padding: 0.125rem 0.25rem;
                    padding-left: 0.375rem;
                    font-size: 0.40625rem;
                    line-height: 2;
                    .username{
                        float: left;
                        color: #333;
                    }
                    .elephone{
                        float: right;
                        color: #000;
                    }
                }
                .left-address{
                    padding-left: 0.25rem;
                    height: 0.9375rem;
                    .iconfont{
                        display: inline-block;
                        width: 10%;
                        font-size: 18px;
                        color: #bd2c00;
                    }
                    .left-li-add{
                        display: inline-block;
                        width: 80%;
                        padding-left: 0.125rem;
                        font-size: 0.40625rem;
                        line-height: 1.2;
                        color:#999;
                        white-space:nowrap;
                        overflow:hidden;
                        text-overflow:ellipsis;
                    }
                    .aa2{
                        position: absolute;
                        left: 12%;
                        top: 70%;
                        font-size: 0.375rem;
                        line-height:2;
                        color: #ff5053;
                    }
                }

                .main-msg{
                    display: inline-block;
                    width: 0.9375rem;
                    height: 0.9375rem;
                    font-size: 0.625rem;
                    line-height:0.9375rem;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    top: 25%;
                    color : #666;
                }
            }
            .address-empty{
                display: none;
                padding : 15px 15px;
                font-size: 14px;
                color : #333;
                position: relative;
                .main-msg{
                    display: inline-block;
                    width: 0.9375rem;
                    height: 0.9375rem;
                    font-size: 0.625rem;
                    line-height:0.9375rem;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    top: 25%;
                    color : #666;
                }
            }
        }
        .main-main{
            width: 100%;
            flex: 1;
            overflow-y: auto;
            .goods-li{
                background-color: #fff;
                margin-bottom: 0.3125rem;

                .goods-main{
                    box-sizing: border-box;
                    padding-left: 20px;
                    position: relative;
                    height: 2.8125rem;
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    .goodsimg{
                        width: 2.1875rem;
                        height: 100%;
                        float: left;
                        box-sizing : border-box;
                        padding-top : 0.375rem;
                        img{
                            width: 100%;
                        }
                    }
                    .goodsright{
                        height: 100%;
                        width: 76%;
                        float: left;
                        position: relative;
                        .close-btn{
                            height: 0.9375rem;
                            display: inline-block;
                            font-size: 0.375rem;
                            color: #999;
                            line-height:1.2;
                            position: absolute;
                            right: 8px;
                            top: 10px;
                        }
                        .goodstil{
                            padding-top: 10px;
                            width: 73%;
                            font-size: 13px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            background-color: #fff;
                            color: #999;
                        }
                        .style-num{
                            overflow: hidden;
                            margin-left: 0.25rem;
                            margin-top: 0.375rem;
                            display: inline-block;
                            font-size: 0.4375rem;
                            box-sizing: border-box;
                            border: 1px solid #999;
                            border-radius: 0.125rem;
                            height: 1.0rem;
                            text-align: center;
                            .num-cut{
                                display: inline-block;
                                vertical-align: top;
                                width: 1.1875rem;
                                background-color: #f9f9f9;
                                line-height: 0.9375rem;
                                height: 0.9375rem;
                                border-radius: 0.125rem 0 0 0.125rem;
                            }
                            .num-add{

                                display: inline-block;
                                vertical-align: top;
                                background-color: #f9f9f9;
                                width: 1.1875rem;
                                line-height: 0.9375rem;
                                height: 0.9375rem;
                                border-radius: 0 0.125rem 0.125rem 0;
                            }
                            .goodsnum{
                                box-sizing: border-box;
                                display: inline-block;
                                vertical-align: top;
                                background-color: #fff;
                                width: 1.3125rem;
                                line-height: 0.9375rem;
                                height: 0.9375rem;
                                border-left:1px solid #ccc;
                                border-right:1px solid #ccc;
                            }
                        }
                        .goodsprice{
                            position: absolute;
                            bottom: 20px;
                            right: 10px;
                            font-size: 13px;
                            color:#cf2d28;

                        }
                        .goodsprice:before{
                            content: '￥';
                        }
                    }

                }
            }
        }
        .main-empty{
            display: none;
            font-size: 0.625rem;
            color: #aaa;
            padding: 3.125rem 0;
            text-align: center;
            .empty-img1{
                img{
                    display: inline-block;
                    width: 6.625rem;
                    height: 4.59375rem;
                }
            }
        }
    }
    .box-ti-footer{
        width: 100%;
        height: 1.40625rem;
        border-top: 1px solid #ccc;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        z-index: 999;
        .footer-main{
            width: 100%;
            height: 100%;
            display: flex;
            .footer-price{
                flex: 6;
                box-sizing: border-box;
                padding-left : 1.25rem;
                .true-price:before{
                    content: '实收合计：￥';
                }
                .true-price{
                    height: 0.6875rem;
                    line-height: 0.6875rem;
                    font-size: 0.4375rem;
                    font-weight: bold;
                    color: #333;
                }
                .hasprice:before{
                    content: '以节省：-￥';
                }
                .hasprice{
                    height: 0.6875rem;
                    line-height: 0.6875rem;
                    font-size: 0.375rem;
                    color: #333;
                }
            }
            .accounts-btn{
                flex: 3;
                .acc-btn{
                    border: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #bd2c00;
                    color: #fff;
                    font-size: 0.4375rem;
                    line-height:1.40625rem;
                }
            }
        }
    }
}

