@import "../../base.scss";
@import '../../../../static/font/iconfont.css';
@import '../../../../static/my-font/iconfont.css';

.password_change{
    header{
        display: flex;
        span{
            width:15%;
            font-size: 22px;
        }
        p{
            width:70%;
            font-size: 15px;
        }
        div{
            width:15%;
            text-align: left;
            font-size: 14px;
        }
    }
    .change_password{
        input{
            height:42px;
            width:100%;
            line-height: 42px;
            font-size:13px;
            padding-left: 4%;
            border:none;
            border-bottom:1px solid  rgba(0,0,0,0.1);
           
        }
       .verify{
           position:relative;
           span:nth-child(2){
               display: block;
               position:absolute;
               width:30%;
               right:23%;
               top:18%;
               height:30px;
               background-image: url('../../../../static/imgs/yanzheng.png');
               background-repeat: no-repeat;
               background-position: center center;
           }
           span:last-child{
                position: absolute;
                display: block;
                right:13%;
                top:30%;
                font-size:10px;
           }
       }
    }
}